// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright (C) 2023 Leica Geosystems AG
 */

/dts-v1/;

#include "imx8mp.dtsi"

/ {
	model = "Leica Geosystems Beluga pt0.5";
	compatible = ",beluga-rev-0.5", "-beluga", "fsl,imx8mp";
};

&A53_0 {
	cpu-supply = <&reg_arm>;
};

&A53_1 {
	cpu-supply = <&reg_arm>;
};

&A53_2 {
	cpu-supply = <&reg_arm>;
};

&A53_3 {
	cpu-supply = <&reg_arm>;
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic@25 {
		compatible = "nxp,pca9450c";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio2>;
		interrupts = <2 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <720000>;
				regulator-max-microvolt = <1000000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			reg_arm: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <720000>;
				regulator-max-microvolt = <1025000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
				nxp,dvs-run-voltage = <950000>;
				nxp,dvs-standby-voltage = <850000>;
			};

			BUCK4 {
				regulator-name = "BUCK4";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3600000>;
				regulator-boot-on;
				regulator-always-on;
			};

			BUCK5 {
				regulator-name = "BUCK5";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <1950000>;
				regulator-boot-on;
				regulator-always-on;
			};

			BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <1045000>;
				regulator-max-microvolt = <1155000>;
				regulator-boot-on;
				regulator-always-on;
			};

			LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <1950000>;
				regulator-boot-on;
				regulator-always-on;
			};

			LDO3 {
				regulator-name = "LDO3";
				regulator-min-microvolt = <1710000>;
				regulator-max-microvolt = <1890000>;
				regulator-boot-on;
				regulator-always-on;
			};

			LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&snvs_pwrkey {
	status = "okay";
};

/* EMMC */
&usdhc3 {
	assigned-clocks = <&clk IMX8MP_CLK_USDHC3>;
	assigned-clock-rates = <400000000>;
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C1_SCL__I2C1_SCL		0x400001c2 /* I2C1_SCL */
			MX8MP_IOMUXC_I2C1_SDA__I2C1_SDA		0x400001c2 /* I2C1_SDA */
		>;
	};

	pinctrl_pmic: pmicgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_DATA0__GPIO2_IO02	0x000001c0 /* PMIC_IRQ_B */
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO02__WDOG1_WDOG_B	0x166 /* IMX_WDOG */
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK	0x190 /* SD3_CLK */
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD	0x1d0 /* SD3_CMD */
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d0 /* SD3_DATA0 */
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d0 /* SD3_DATA1 */
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d0 /* SD3_DATA2 */
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d0 /* SD3_DATA3 */
			MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d0 /* SD3_DATA4 */
			MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d0 /* SD3_DATA5 */
			MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d0 /* SD3_DATA6 */
			MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7	0x1d0 /* SD3_DATA7 */
			MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x190 /* SD3_STROBE */
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK	0x194 /* SD3_CLK */
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD	0x1d4 /* SD3_CMD */
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d4 /* SD3_DATA0 */
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d4 /* SD3_DATA1 */
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d4 /* SD3_DATA2 */
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d4 /* SD3_DATA3 */
			MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d4 /* SD3_DATA4 */
			MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d4 /* SD3_DATA5 */
			MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d4 /* SD3_DATA6 */
			MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7	0x1d4 /* SD3_DATA7 */
			MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x194 /* SD3_STROBE */
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK	0x196 /* SD3_CLK */
			MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD	0x1d6 /* SD3_CMD */
			MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d6 /* SD3_DATA0 */
			MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d6 /* SD3_DATA1 */
			MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d6 /* SD3_DATA2 */
			MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d6 /* SD3_DATA3 */
			MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d6 /* SD3_DATA4 */
			MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d6 /* SD3_DATA5 */
			MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d6 /* SD3_DATA6 */
			MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7	0x1d6 /* SD3_DATA7 */
			MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x196 /* SD3_STROBE */
		>;
	};
};
