#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

menu "LGS Colibri Drivers"

config LGS_COLIBRI_CASA
	tristate "LGS Colibri Casa FPGA interface"
	depends on FPGA_AREA && SOCFPGA_FPGA_BRIDGE
	help
	  Casa angular measurement FPGA interface driver.

config LGS_COLIBRI_EDM
	tristate "LGS Colibri EDM FPGA interface"
	depends on FPGA_AREA && SOCFPGA_FPGA_BRIDGE
	help
	  Casa Electronic Distance Measuremnt FPGA interface driver.

config LGS_COLIBRI_FB
	tristate "LGS Colibri Framebuffer FPGA interface"
	depends on FPGA_AREA && SOCFPGA_FPGA_BRIDGE
	help
	  Casa Framebuffer FPGA interface driver.

endmenu
