/*
 *  Copyright (C) 2012 Altera Corporation <www.altera.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5.dtsi"

/ {
	model = "Leica Colibri";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial1:115200n8";
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1GB */
	};

	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};

	regulator_3_3v: 3-3-v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	sysid_qsys: sysid@0xff210000 {
		compatible = "altr,sysid-1.0";
		reg = < 0xff210000 0x00000008 >;
	};

	agpio0: gpio@ff210020 {
		status = "disabled";
		compatible = "altr,pio-1.0";
		reg = <0xff210020 0x20>;
		interrupts = <0 44 1>;	/* edge triggered */
		width=<32>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <1>;
		interrupt-controller;
		altr,interrupt_type = <1>;	/* rising edge */
	};

	wlan_module: regulator@0 {
                compatible = "regulator-fixed";

                regulator-name = "WLAN module Vcc";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;

                regulator-boot-on;
        };

        wlan_en_reg: regulator@1 {
                compatible = "regulator-fixed";
                regulator-name = "wlan-en-regulator";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                /* WLAN_EN GPIO for this board - HPS_GPIO61, gpio2 3 */
                gpio = <&gpio2 3 0>;
                /* WLAN card specific delay */
                startup-delay-us = <70000>;
                enable-active-high;
        };

        wlan_elca: sdhci@0xc0020000 {
		status = "disabled";
                compatible = "elca,sd_mmc_elca-15.11", "generic-sdhci";
                reg = <0xc0020000 0x00000100>;
                interrupt-parent = <&intc>;
                interrupts = <0 49 4>;
                cap-mmc-highspeed = <1>;
                cap-sd-highspeed = <1>;
                sdhci,auto-cmd12 = <1>;
                vmmc-supply = <&wlan_en_reg>;

                #address-cells = <1>;
                #size-cells = <0>;
                wlcore: wlcore@0 {
                        compatible = "ti,wl1835";
                        reg = <2>;
                        interrupt-parent = <&porta>; /* HPS_GPIO17 */
                        interrupts = <17 4>;
                };
        }; //end sdhci@0x000020000 (wlan_elca)

        sdc_elca: sdhci@0xc0030000 {
		status = "disabled";
                compatible = "elca,sd_mmc_elca-15.11", "generic-sdhci";
                reg = <0xc0030000 0x00000100>;
                interrupt-parent = <&intc>;
                interrupts = <0 43 4>;
                cap-mmc-highspeed = <1>;
                cap-sd-highspeed = <1>;
                sdhci,auto-cmd12 = <1>;
        }; //end sdhci@0x000030000 (sdc_elca)

	leds {
		compatible = "gpio-leds";
		fpga0 {
			label = "fpga_led0";
			gpios = <&gpio0 0 1>;
		};

		fpga1 {
			label = "fpga_led1";
			gpios = <&gpio0 1 1>;
		};

		fpga2 {
			label = "fpga_led2";
			gpios = <&gpio0 2 1>;
		};

		fpga3 {
			label = "fpga_led3";
			gpios = <&gpio0 3 1>;
		};

		hps0 {
			label = "hps_led0";
			gpios = <&gpio1 15 1>;
		};

		hps1 {
			label = "hps_led1";
			gpios = <&gpio1 14 1>;
		};

		hps2 {
			label = "hps_led2";
			gpios = <&gpio1 13 1>;
		};

		hps3 {
			label = "hps_led3";
			gpios = <&gpio1 12 1>;
		};
	};

	soc {
		spi0: spi@fff00000 {
			status = "okay";

			spidev@0 {
				compatible = "lgs-colibri,fast-axis-spi", "spidev";
				reg = <0>;
			        spi-max-frequency = <8000000>;
				enable-dma = <0>;
			};
			spidev@1 {
				compatible = "lgs-colibri,slow-axis-spi", "spidev";
				reg = <1>;
			        spi-max-frequency = <8000000>;
				enable-dma = <0>;
			};

			fram@0 {
			    compatible = "atmel,at25", "cypress,fm25l16b";
			    reg = <0x2>;	/* chip select */
			    spi-max-frequency = <8000000>;
			    enable-dma = <0>;

			    pagesize = <256>;
			    size = <2048>;
			    address-width = <16>;
			};
		};

		spi1: spi@fff01000 {
			status = "okay";

			spidev@0 {
				compatible = "lgs-colibri,imager-spi", "spidev";
				reg = <0>;
				spi-max-frequency = <8000000>;
				enable-dma = <0>;
			};

		};
	};
};


&fpgamgr0 {
	compatible = "altr,socfpga-fpga-mgr", "simple-bus";
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	ranges;

	bridge@0 {
		compatible = "altr,socfpga-lwhps2fpga-bridge", "simple-bus";
		resets = <&rst LWHPS2FPGA_RESET>;
		label = "lwhps2fpga";
		reset-names = "lwhps2fpga";
		clocks = <&l4_main_clk>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;
	};

	bridge@1 {
		compatible = "altr,socfpga-hps2fpga-bridge", "simple-bus";
		resets = <&rst HPS2FPGA_RESET>;
		label = "hps2fpga";
		reset-names = "hps2fpga";
		clocks = <&l4_main_clk>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;
	};

	bridge@2 {
		compatible = "altr,socfpga-fpga2hps-bridge", "simple-bus";
		resets = <&rst FPGA2HPS_RESET>;
		label = "fpga2hps";
		reset-names = "fpga2hps";
		clocks = <&l4_main_clk>;
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;
	};
};

&gmac0 {
	status = "okay";
	phy-mode = "mii";
	snps,phy-addr = <0x00>;
	phy-handle = <&ethphy0>;
};

&gmac1 {
	status = "okay";
	phy-mode = "mii";
	snps,phy-addr = <0x01>;

	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	txen-skew-ps = <0>;
	txc-skew-ps = <2600>;
	rxdv-skew-ps = <0>;
	rxc-skew-ps = <2000>;
	snps,max-mtu = <3800>;

	phy-handle = <&ethphy1>;

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			reg = <0>;
			reset-gpios = <&agpio0 0 0>;
		};

		ethphy1: ethernet-phy@1 {
			reg = <1>;
			reset-gpios = <&agpio0 1 0>;
		};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	speed-mode = <0>;
	clock-frequency = <100000>;

	eeprom@51 {
		compatible = "atmel,24c32";
		reg = <0x51>;
		pagesize = <32>;
	};

	rtc@68 {
		compatible = "st,m41t83";
		reg = <0x68>;
	};
};

&i2c1 {
	status = "okay";
	speed-mode = <0>;
	clock-frequency = <100000>;
};

&mmc0 {
	cd-gpios = <&portb 18 0>;
	vmmc-supply = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;

	altr,dw-mshc-ciu-div = <3>;
	altr,dw-mshc-sdr-timing = <0 3>;
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&qspi {
	status = "okay";

	flash0: n25q256a@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,n25q256a", "jedec,spi-nor";
		reg = <0>;      /* chip select */
		spi-max-frequency = <100000000>;
		m25p,fast-read;
		page-size = <256>;
		block-size = <16>; /* 2^16, 64KB */

		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <4>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partition@qspi-boot {
			label = "u-boot";
			reg = <0x0 0x100000>;
		};

		partition@qspi-env1 {
			label = "env1";
			reg = <0x100000 0x10000>;
		};

		partition@qspi-env2 {
			label = "env2";
			reg = <0x110000 0x10000>;
		};

		partition@qspi-fpga {
			label = "fpgacfg";
			reg = <0x120000 0x800000>;
		};

		partition@qspi-recovery {
			label = "recovery";
			reg = <0x920000 0xa00000>;
		};

		partition@qspi-sysdata {
			label = "sysdata";
			reg = <0x1320000 0x800000>;
		};
		partition@qspi-reserved {
			label = "reserved";
			reg = <0x1b20000 0x4e0000>;
		};
	};
};
